body {
	font-size: 16pt;
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 200;
	/*background-image:url('light_wool.png');*/
	/*background-attachment: fixed;*/
	background-color: #eee;
	color:#555;
}

.nav_link {
	/*display: inline;*/
	text-align: left;
	margin: 13px;
}

#wrapper {
	/*border: 1px dashed #eee;*/
	padding: 5px;
	max-width: 1000px;
	margin: auto;
	/*margin-top: 90px;*/
}

.section {
	padding: 20px 80px 20px 70px;
	text-align: justify;
}

.dark {
	background-color: #444;
	color: white;
	/*border: 1px solid black;*/
}

.light {
	/*background-color: #eee;*/
	border: 1px solid #ccc;
	background-color: white;
}

#photo1 {
	background-image: url('Network-Technology4.jpg');
	border: solid 1px black;
	height: 400px;
}

.spacer {
	height:90px;
}

a {
	text-decoration: none;
	color: #e58930;
	font-weight: bold;
}

a :visited {
	/*text-decoration: underline;*/
}

body a:hover {
	color: #f59950;
}

h1 {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	font-size: 70px;
	/*background-color: rgba(240, 240, 240, .97);*/
	text-align: center;
	margin: -10px;
	padding:20px;
}

h2 {
	font-size: 35px;
	font-family: 'Roboto Slab', serif;
	font-weight: bolder;
	margin: 0px;
}

h3 {
	font-weight: bolder;
	font-family: 'Roboto Slab', serif;
	font-size: 30pt;
	margin: 10px 0px 0px 0px;
}

.navSide	 {
	background-color: #eee;

	border-top: 1px solid #999;
	border-bottom: 1px solid #999;

	position: fixed;
	margin-left: 10px;
	float: left;
	text-align: center;
	/*margin-top: 100px;*/
	z-index: 100;
	font-family: 'Roboto Slab', serif;	
	font-size: 16pt;
}
