#body {
	background-image: url("../resources/light_wool.png");
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.header {
	/*background-color: #09c;*/
	/*background-color: #f24;*/
	background-color: white;
	border-bottom: #ddd solid 1px;

	margin-top: -10px;
	margin-left: -20px;
	width: 110%;

	background-image: url("../resources/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	height: 70px;
/*
	color: #009;
	font-size: 15px;

	font-family: libby;
 	font-weight: bold;
	font-style: bold;
	line-height: 110%;
	vertical-align: middle;
	overflow: auto;

	CA BND web
	ChunkFive
	Libby
	Mir
*/
}

.title {
	display: block;
	text-align: center;
	margin: auto;
}

#main {
	display: block;
}

#company_info {
	background: none;
	display: none;
	width: 100%;
}

tbody { width: 100%; }

.card, .small_card-R, .small_card-L {
	background-color: white;
	padding: 15px;
	margin: 10px;
	border: 1px solid #ddd;
	display: block;
}

.small_card-R, .small_card-L { display: inline-block; }

.small_card-R { float: right; width: 80%; }
.small_card-L { float: left;  width: auto; min-width: 412px; }

.company_hdr {
	text-align: center;
	font-size: 42px;
	font-weight: 400;
	font-style: bold;
	padding: 10px;
}

h1 { 
	display: inline; 
}

h3 {
	padding: 5px;
	margin: 0px;
	text-align: center;
}

.legend_table {
	display: inline-block;
	margin: 10px;
	text-align: left;
}

.legend {
	margin-top: 30px;
	float: right;
}

.button {
	text-align: center;
	/*background-color: #444;*/
	/*border-radius:13px;*/
	line-height: 100%;
	/*background-image: url("tweed.png");*/

	background-image: url("../resources/search-24px.png");
	background-color: rgba(0,0,0,0);
	background-repeat: no-repeat;
	border: none;
	width: 21px;
	height: 21px;
	margin: 5px;
	/*color: white;*/
}

#input_table_id {
	background-color: white;
	border: 1px #ddd solid;

	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 200%;
	padding-left: 8px;

	min-height: 30px;
	min-width: 340px;
}

.canvas {
	padding: 5px;
	float: left;
}

.color_block {
	line-height: 80%;
	padding: 5px;
	text-align: center;
	display: inline-block;
}

#party_breakdown {
	text-align: center;
}

#inputs {
	margin: 20px;
}

.wrapper {
	display: block;
	padding: 10px;
	margin: auto;
	max-width: 800px;
}


table {
	border-spacing: 0px;
	border: none;
	background: none;
}

.first-head {
	background-color: gray;
	color: white;
	line-height: 100%;
	height: 100%;
	margin: 4px;
}

.first-data {
	background-color: white;
	border: 1px #ddd solid;
	line-height: 100%;
	height: 100%;
	margin: 4px;
}

tr {
	border-top: 15px rgba(0,0,0,1) solid;
}

td {
	/*background-color: white;*/
	border: none;
	/*border: #eee 1px solid;*/
	padding: 4px;	
	margin: 40px;
}

.message {
	font-size: 20px;
	font-weight: bold;
}